*#
=======
*.swp
*~
*.log
*.out
*.config
*.zip
*.pyc
*.bat
*.json
*.sh
*.xlsx
temp.*
googlemaps.py
!example.config
.ropeproject/*
/csv/*
/maps/*
/pack/*
/s3_files/*
/sql/*
/img/*
/reports/*
/backup/*
/dbbackup/*
/geojson/*
/gis/*
/insideairbnb/*
/report_data/*
/doc/*
/html_source/*
/hvs/*
/kml/*
/public/*
/export/*
/shapefiles/*
/spreadsheets/*
/unite/*
/zip/*
/postgresql/backups/*
/postgresql/keys/*
/postgresql/*.bat
/postgresql/test.sql
/postgresql/shapefiles/*
!docker/scripts/*.sh

