*#
=======
*.swp
*~
*.log
*.out
*.config
*.zip
*.pyc
*.bat
googlemaps.py
!example.config
/backup/*
/doc/*
/html_source/*
/hvs/*
/kml/*
/public/*
/shapefiles/*
/spreadsheets/*
/unite/*
/zip/*
/postgresql/backups/*
/postgresql/keys/*
/postgresql/*.bat
/postgresql/test.sql
/postgresql/shapefiles/*

