# Configuration file for airbnb.py
# Copyright (c) 2015, Tom Slee

[DATABASE]
# The database is a PostgreSQL database, and these are the standard
# connection parameters

# The host name on which the database is running
# if none is given (commented out) then socket transport is used
#db_host = <host_name>

# The port number (PostgreSQL default port is 5432)
db_port = 5432

# The database name on the host
db_name = <airbnb>

# Database user, which must have sufficient permissions for
# whatever operations you are carrying out
db_user = postgres
# password
db_password = <password>

[NETWORK]
# Network parameters tybe the behaviour of the script

# If you are using a set of proxies, supply a comma-separated list of
# host:port pairs here
proxy_list = host1:port1,host2:port2

# A user agent string is used to identify the program making the request
# As the user agent string can contain commas, the separator is a double comma: ",,"
# Each user agent string should also be enclosed in double quotes.
user_agent_list = "user-agent-string 1",,"user-agent-string 2"

# How many times to try connecting to the Airbnb site before failing
max_connection_attempts = 15

# Be nice: pause between requests. This is a number of seconds,
# but the pause is a random number in the interval [0, request_sleep]
request_sleep = 10.0

# how long to wait before failing on an individual request
http_timeout = 10.0

[SURVEY]
# These don't often need to be changed
fill_max_room_count = 50000
room_id_upper_bound = 7000000

# Maximum number of pages to loop over in search,
# for a given area, room_type, and number of guests
search_max_pages = 20

# Maximum number of guests in search
search_max_guests = 16

# Maximum zoom level for bounding box search
search_max_rectangle_zoom = 4

# Time in seconds to wait, when all proxies are used up, before restarting
re_init_sleep_time = 60
